.movie_page {
  min-height: 100vh;
  padding-top: 50px;
  background-color: #04152d;
}
.movie_page__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.movie_page__header {
  padding: 60px 0 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: white;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 1px solid gray;
}
.movie_page__title {
  flex-shrink: 0;
  align-self: center;
}
.movie_page__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selected_genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.select_container {
  display: flex;
}
.selected_genre {
  padding: 0px 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.selected_genre:hover {
  background-color: #da2f68;
}
.select_genre,
.select_sort {
  padding: 5px 10px;
  height: 31px;
  margin-left: 10px;
}
.resultNotFound {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  color: #8b9199;
}
.need_more_data {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 35px;
}
@media (width < 1024px) {
  .movie_page__header {
    padding: 40px 0 10px 0;
  }
  .movie_page__filters {
    gap: 10px;
  }
  .select_container {
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .select_genre,
  .select_sort {
    margin-left: 0px;
    width: 100%;
  }
}

@media (width < 768px) {
  .movie_page__header {
    padding: 20px 0 10px 0;
    flex-wrap: wrap;
  }
  .movie_page__filters {
    flex-wrap: wrap;
  }
  .selected_genres {
    width: 100%;
    justify-content: center;
  }
}
