.movie_details_page {
  min-height: 100vh;

  background-color: #04152d;
  color: white;
}
.background_logo {
  width: 100%;
  height: 955px;
  position: relative;
  opacity: 0.2;
}
.background_logo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.movie_details_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 0px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.movie_details_poster {
  max-height: 525px;
  max-width: 350px;
  position: relative;
}
.movie_details_poster img {
  width: 350px;
  height: 535px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.movie_details_circle_rating {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 70px;
  height: 70px;
  background-color: rgba(100, 98, 98, 0.63);
  border-radius: 50%;
  color: rgb(248, 248, 248);
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}


/* --------------ACTOR SECTION */
.movie_details_castSectionShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}
.movie_details_castSection {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.movie_details_castSection > h2 {
  margin-bottom: 20px;
}
.actors_row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: scroll;
}
.actor_item {
  margin-bottom: 10px;
  width: 138px;
  min-width: 138px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.actor_avatar > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}
.actor_name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.actor_role {
  opacity: 0.5;
}
/* --------------SIMILAR SECTION */
.movie_details_similarMovie__section {
  max-height: 500px;
  max-width: 1200px;
  margin: 150px auto 0px;
  padding: 0 20px;
}
.movie_details_similarMovie__title {
  margin-bottom: 20px;
}
.movie_details_similarMovie {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}