/* .movie_details_page * {
border: 1px solid greenyellow;
} */
.movie_details_page {
  min-height: 700px;
  padding-top: 120px;
  background-color: #04152d;
  color: white;
}
.background_logo {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.background_logo span {
  width: 100%;
  height: 100%;
}

.movie_details_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.movie_details_poster {
  max-height: 525px;
  max-width: 350px;
  position: relative;
}
.movie_details_poster img {
  width: 350px;
  height: 535px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.movie_details_circle_rating {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 70px;
  height: 70px;
  background-color: rgba(100, 98, 98, 0.63);
  border-radius: 50%;
  color: rgb(248, 248, 248);
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}

/* --------------ACTOR SECTION */
.movie_details_castSectionShadow {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}
.movie_details_castSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0.99;
  margin-bottom: 50px;
}
.movie_details_castSection > h2 {
  margin-bottom: 20px;
}
.actors_row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: auto;
}

/* --------------SIMILAR SECTION */
.movie_details_similarMovie__section {
  max-height: 500px;
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}
.movie_details_similarMovie__title {
  margin-bottom: 20px;
}
.movie_details_similarMovie {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
/* --------------Video SECTION */
.movie_details_videos__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}
.movie_details_videos__title {
  margin-bottom: 20px;
}
.movie_details_videos__content {
  width: 100%;
  display: flex;
  gap: 25px;
  overflow-x: auto;
}

.movie_details_videos__video_title {
  font-size: 16px;
  line-height: 24px;
}

@media (width < 1024px) {
  .movie_details_page {
    padding-top: 80px;
  }
}

@media (width < 768px) {
  .movie_details_page {
    padding-top: 70px;
  }
  .background_logo {
    display: none;
  }
  .movie_details_container {
    position: static;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .movie_details_poster {
    width: 100%;
    max-height: none;
    max-width: none;
  }
  .movie_details_poster img {
    width: 100%;
    height: 100%;
  }
  .movie_details_castSectionShadow {
    display: none;
  }
  .movie_details_videos__section {
    margin-bottom: 20px;
  }
  .movie_details_castSection {
    position: static;
    margin-bottom: 20px;
  }
  .movie_details_similarMovie__section {
    margin-bottom: 20px;
    max-height: none;
  }
}
