* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #04152d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}



/* --- */
.hero-img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: center;
}
/* --- TV --- */
.page-container {
  min-height: 700px;
}


